body {
  margin: 0;
}

#app {
  margin: auto;
  width: 720px;
  height: 100dvh;
  background-color: antiquewhite;
}

#header {
  height: 15%;
  background-color: blue;
}

#player_2_name_round {
  width: 90%;
  height: 20%;
  background-color: lightblue;        
  margin: auto;
}

#header_area {
  width: 90%;
  height: 80%;
  margin: auto;        
}

#player_2_cards {
  float: left;
  height: 95px;
  width: 30%;
  padding: 1%;
  background-color: darkblue;
}

#player_2_cards_1 {
  height: 100%;
  width: 31%;
  background-color: white;
  float: left;
  margin-right: 3%;
}

#player_2_cards_2 {
  height: 100%;
  width: 31%;
  background-color: white;
  float: left;
  margin-right: 3%;
}

#player_2_cards_3 {
  height: 100%;
  width: 31%;
  background-color: white;
  float: left;
}

#msg_area {
  float: right;
  height: 75%;
  width: 65%;
  background-color: blueviolet;
  padding: 1%;
}

#msg {
  width: 100%;
  height: 100%;
  background-color: white;
}

#middle {
  height: 55%;
  background-color: red;
}

#game_table {
  width: 90%;
  height: 100%;
margin: auto;
}

#trump {
  width: 25%;
  height: 100%;
  float: left;
  background-color: salmon;
}

#trump_area {
  width: 70%;
  height: 220px;
  padding-top: 130px;
  margin: auto;
}      

#trump_card {
  width: 80%;
  height: 71%;
  background-color: white;
  float: left;
  margin-left: 25%;
}

#trump_deck {
  width: 80%;
  height: 71%;
  background-color: whitesmoke;
  float: left;
  margin-top: -80%;
  margin-left: 0%;
}

#turns {
  width: 65%;
  height: 100%;
  float: left;
  background-color: darkred;
}

#turns_area {
  width: 90%;
  margin: auto;
  height: 95%;
  padding-top: 1%;
}

#turn_3 {
  width: 100%;
  height: 30%;
  background-color: whitesmoke;
  margin-bottom: 10px 0px;
  border-radius: 4px;
}

#turn_3_cards {
  width: 60%;
  height: 100%;
  margin: auto;
}

#turn_3_card_1 {
  height: 140px;
  width: 37%;
  float: left;
  background-color: white;
  border-radius: 2px;
}

#turn_3_card_2 {
  height: 140px;
  width: 37%;
  float: right;
  background-color: white;
  border-radius: 2px;
}

#turn_2 {
  width: 100%;
  height: 30%;
  background-color: whitesmoke;
  padding: 10px 0px;
  border-radius: 4px;
}

#turn_2_cards {
  width: 60%;
  height: 100%;
  margin: auto;
}

#turn_2_card_1 {
  height: 140px;
  width: 37%;
  float: left;
  background-color: white;
  border: 1px dotted gray;
  border-radius: 2px;
}

#turn_2_card_2 {
  height: 140px;
  width: 37%;
  float: right;
  background-color: white;
  border: 1px dotted gray;
  border-radius: 2px;
}

#turn_1 {
  width: 100%;
  height: 30%;
  background-color: whitesmoke;
  padding: 10px 0px;
  border-radius: 4px;
}

#turn_1_cards {
  width: 60%;
  height: 100%;
  margin: auto;
}

#turn_1_card_1 {
  height: 140px;
  width: 37%;
  float: left;
  background-color: white;
}

#turn_1_card_2 {
  height: 140px;
  width: 37%;
  float: right;
  background-color: white;
  border: 1px dotted gray;
  border-radius: 2px;
}

#score {
  width: 10%;
  height: 100%;
  float: right;
  background-color: orange;
}

#score_area {
  width: 70%;
  height: 30%;
  padding-top: 300%;
  margin: auto;
}

#score_text {
  width: 100%;
  height: 100%;
  background-color: white;
}

#footer {
  height: 29%;
  background-color: yellow;
}

#player_1_controls {
  width: 90%;
  height: 90%;
  margin: auto;
}

#player_1_buttons { 
  width: 39%;
  height: 78%;
  float: left;
  background-color: lightyellow;
  padding: 2.5% 0.5%;
}

#player_1_cards {
  width: 59%;
height: 78%;
  float: left;
  background-color: gold;
  padding: 2.5% 0.5%;
}

#player_1_buttons_1 {
  height: 20%;
  background-color: white;
  margin: 0% 3% 5% 3%;
}

#player_1_buttons_2 {
height: 20%;
  background-color: white;
  margin: 0% 3% 5% 3%;
}

#player_1_buttons_3 {
height: 20%;
  background-color: white;
  margin: 0% 3% 5% 3%;
}

#player_1_buttons_4 {
height: 20%;
  background-color: white;
  margin: 0% 3% 0% 3%;
}

#player_1_cards_1 {
  width: 115px;
  height: 186px;
  float: left;
  background-color: white;
  margin-right: 3%;
}

#player_1_cards_2 {
  width: 115px;
  height: 186px;
  float: left;
  background-color: white;
  margin-right: 3%;
}

#player_1_cards_3 {
  width: 115px;
  height: 186px;
  float: left;
  background-color: white;
}

#player_1_name {
  width: 90%;
  height: 10%;
  background-color: yellowgreen;
  margin: auto;
}